################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/m/CudaRuntime1/.vs/CudaRuntime1
/m/CudaRuntime1/x64/Debug
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/CL.command.1.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/Cl.items.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/CL.read.1.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/CL.write.1.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/CudaCompile.read.1u.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/CudaCompile.write.1u.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/CudaRuntime1.lastbuildstate
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/link.command.1.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/link.read.1.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/link.secondary.1.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.tlog/link.write.1.tlog
/m/CudaRuntime1/CudaRuntime1/x64/Debug/calculate_cpu.obj
/m/CudaRuntime1/CudaRuntime1/x64/Debug/calculate_gpu.cu563693801.deps
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.exe.recipe
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.ilk
/m/CudaRuntime1/CudaRuntime1/x64/Debug/CudaRuntime1.log
/m/CudaRuntime1/CudaRuntime1/x64/Debug/main.obj
/m/CudaRuntime1/CudaRuntime1/x64/Debug/output.obj
/m/CudaRuntime1/CudaRuntime1/x64/Debug/simulate_cpu.obj
/m/CudaRuntime1/CudaRuntime1/x64/Debug/simulate_gpu.cu863727731.deps
/m/CudaRuntime1/CudaRuntime1/x64/Debug/vc143.idb
/m/CudaRuntime1/CudaRuntime1/x64/Debug/vc143.pdb
